@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'font-serif', sans-serif;
}

@layer base {
    body {
        @apply bg-white;
    }
}

:root {
    --primary-color: #1e6bc4; 
}

button.primary-button {
    background-color: var(--primary-color);
}

.logo {
    color: var(--primary-color);
}

.category_style {
    @apply bg-neutral-100 text-slate-700;
}

.category_style:hover {
    @apply bg-primary-color text-white ;
}

.offer_style {
    @apply bg-slate-300 ;
}

.offer_style:hover {
    @apply bg-blue-400 ;
}

.product_style {
    @apply bg-white ;
}

.collection_top {
    @apply bg-zinc-100 ;
}

.collection_bottom {
    @apply bg-white ;
}

.footer {
    @apply bg-slate-100 ;
}

.shopnow {
    @apply bg-white ;
}

.font-color {
    color: var(--primary-color);
}

.dropDownProfile {
    position: absolute;
    /* top: 4rem;
    width: 80px;
    padding: 15px; */
    left: -4.5rem;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
  }
  
  .dropDownProfile::before {
    content: '';
    position: absolute;
    top: -0.6rem;
    right: 40%; /* Center the triangle */
    transform: translateX(50%) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
  }
  

.primary {
    @layer components {
        .border-primary-color {
            border-color: var(--primary-color);
            @layer components {
                .button-primary-color {
                    background-color: var(--primary-color); 
                }
            }
        }
    }
    @apply border-primary-color button-primary-color ;
}

@layer components {
    .bg-primary-color {
        background-color: var(--primary-color);
    }
}


