@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'font-serif', sans-serif;
}

@layer base {
    body {
        @apply bg-white;
    }
}

:root {
    --primary-color: #1e6bc4; 
}

button.primary-button {
    background-color: var(--primary-color);
}

.logo {
    color: var(--primary-color);
}

.category_style {
    @apply bg-neutral-100 text-slate-700;
}

.category_style:hover {
    @apply bg-primary-color text-white ;
}

.offer_style {
    @apply bg-slate-300 ;
}

.offer_style:hover {
    @apply bg-blue-400 ;
}

.product_style {
    @apply bg-white ;
}

.collection_top {
    @apply bg-zinc-100 ;
}

.collection_bottom {
    @apply bg-white ;
}

.footer {
    @apply bg-slate-100 ;
}

.shopnow {
    @apply bg-white ;
}

.font-color {
    color: var(--primary-color);
}

.primary {
    @layer components {
        .border-primary-color {
            border-color: var(--primary-color);
            @layer components {
                .button-primary-color {
                    background-color: var(--primary-color); 
                }
            }
        }
    }
    @apply border-primary-color button-primary-color ;
}

@layer components {
    .bg-primary-color {
        background-color: var(--primary-color);
    }
}


